<h1>Upload file</h1>
<form ref="uploadForm"
      id="uploadForm"
      action="/upload"
      method="post"
      encType="multipart/form-data">
    <input type="file" name="newfile" />
    <input type='submit' value='Upload!' />
</form>
<hr>
<h1>Files in {{fileroot}}</h1>

<ul>
{{#each files}}
    <li><a href="/{{@key}}">{{@key}}</a></li>
{{/each}}
</ul>
